body {
  background-color: papayawhip;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.navbar {
  background-color: white;
  overflow: hidden;
  margin-top: 0;
  border-style: none none solid none;
  height: 60px;
  padding: auto;
  position: fixed;
  width: 100%;
}

.navbar a {
  float: left;
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  float: right;
}

.main {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
  padding-bottom: 200px;
  height: 500px;
}

.container {
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

.column {
	flex-direction: column;
}

.intro {
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 45px;
  width: 450px;
  height: 150px;
  background-color: white;
  border-radius: 38px;
  z-index: 100;
  position: absolute;
  top: 300px;
}

.black-intro {
  background-color: black;
  height: 230px;
  width:500px;
  position: absolute;
  top: 350px;
  left: 75px;
  border-radius: 38px;
}

.image img{
  float: right;
  border-radius: 38px;
  position: absolute;
  top: 150px;
  left: 850px;
  z-index: 100;
}

.image-white {
  position: absolute;
  width: 300px;
  height: 452px;
  left: 810px;
  top: 110px;
  background: #FFFFFF;
  border-radius: 38px;
}

.image-black {
  position: absolute;
      width: 300px;
      height: 452px;
      left: 890px;
      top: 190px;
      background: black;
      border-radius: 38px;
}

.project-card {
  background-color: papayawhip;
  margin: auto;
  height: 350px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
}

.project-card:hover {
  color: grey;
}

.project-image img{
  display: block;
  margin: auto;
  z-index: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  width: 70%
}

.closebutton {
  color: grey;
  float: right;
  font-size: 25px;
}

.closebutton:hover, .closebutton:focus{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.experience {
  /* border-style: solid; */
  display: flex;
  background-color: papayawhip;
  padding-bottom: 20px;
}

#exp-title {
  background-color: papayawhip;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.projects  {
  /* border-style: solid; */
  display: flex;
  background-color: white;
}

#proj1, #proj2, #proj3 {
  background-color: white;
}

#proj-title {
  background-color: white;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.about {
  /* border-style: solid; */
  background-color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
}

.fun {
  border-style: solid;
  text-align: center;
}

.subtitle {
  margin-top: 120px
}