* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 196px;
  background-color: #000000;
  padding: 24px;
}
.sidebar .logo img {
  width: 130px;
}
.sidebar .navigation ul {
  list-style: none;
  margin-top: 20px;
}
.sidebar .navigation ul li {
  padding: 10px 0px;
}
.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
  color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
  color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
  font-size: 20px;
  margin-right: 10px;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
  color: #ffffff;
}
.sidebar .policies {
  position: absolute;
  bottom: 100px;
}
.sidebar .policies ul {
  list-style: none;
}
.sidebar .policies ul li {
  padding-bottom: 5px;
}
.sidebar .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}
.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
  text-decoration: underline;
}

.main-container {
  margin-left: 245px;
  margin-bottom: 100px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 14px 30px;
}
.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}
.topbar .navbar {
  display: flex;
  align-items: center;
}
.topbar .navbar ul {
  list-style: none;
}
.topbar .navbar ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
}
.topbar .navbar ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}
.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
  color: #ffffff;
  font-size: 15px;
}
.topbar .navbar ul li.divider {
  color: #ffffff;
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
}
.topbar .navbar button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}
.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
  background-color: #f2f2f2;
}
.spotify-playlists {
  padding: 20px 40px;
}
.spotify-playlists h2 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 20px;
}
.spotify-playlists .list {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.spotify-playlists .list .item {
  min-width: 140px;
  width: 160px;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover {
  background-color: #252525;
}
.spotify-playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
.spotify-playlists .list .item .play {
  position: relative;
}
.spotify-playlists .list .item .play .fa {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}
.spotify-playlists .list .item h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spotify-playlists .list .item p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.spotify-playlists hr {
  margin: 70px 0px 0px;
  border-color: #636363;
}

.preview {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}
.preview h6 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}
.preview p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.preview button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
}

.playlist {
  padding: 20px 40px;
}

.song-page {
  padding: 20px 40px;
  display: flex;
  flex
}

.song-listing img {
  width: 60px;
  height: 60px;
}

.playlist-header {
  background: rgb(145,54,54);
  background: linear-gradient(0deg, rgba(145,54,54,1) 0%, rgba(237,11,11,1) 100%);
  border-radius: 10px 10px 0 0;
}

.playlist-header h1 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 72px;
}

.playlist-desc {
  display: inline-block;
  padding-bottom: 30px;
  padding-left: 25px;
}

.playlist-img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 20px;
}

.playlist p {
  color: #BFB5B5;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.about-artist {
  border-radius: 10px;
  background-color: #1e1e1e;
  width: 30%;
  text-align: center;
  margin-left: 15px;
}

.about-artist p {
  color: white;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.song {
  padding: 30px 30px;
  background: rgb(237,169,234);
  background: linear-gradient(0deg, rgba(237,169,234,1) 0%, rgba(230,222,206,1) 100%);
  width: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.song-description {
  padding-top: 10px;
  padding-bottom: 10px;
}

.song-description h2 {
  font-size: 48px;
  color: white;
}

.song-description p {
  font-size: 24px;
  color: white;
}

.lyrics {
  border-radius: 10px;
  background-color: #F6E4E0;
  width: 400px;
  padding: 10px;
}

.lyrics p {
  font-size: 16px;
  color: #604B4B;
}

/* playlist table css */

table {
  border-collapse: collapse;
  width: 100%;
  color: #BFB5B5;
  background-color: #101010;
  border-radius: 0 0 10px 10px;
}

th, td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
}

td {
  border: none;
}

th:first-child, td:first-child {
  width: 10%;
}

th:not(:first-child), td:not(:first-child) {
  width: 22%; /* Adjust the width as needed for even spacing */
}

tr:hover {
  background-color: #575353;
}

.wrapped-page {
  padding: 20px 40px;
}

.wrapped-header {
  round: rgb(163,149,175);
  background: linear-gradient(0deg, rgba(163,149,175,1) 0%, rgba(195,102,255,1) 100%);
  border-radius: 10px 10px 0 0;
}

.wrapped-header h1 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 75px;
}

.stat-section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.wrapped-title {
  padding-bottom: 5px;
  font-size: 22px;
}

.wrapped-title h2 {
  font-weight: 100;
}

.wrapped-stat p {
  font-weight: 100;
}

.wrapped-stat h1 {
  font-size: 48px;
  padding-bottom: 5px;
  font-weight: 900;
}

.wrapped-stats {
  color: white;
  text-align: center;
  padding-top: 10px;
}

.slider-container {
  height: 1300px;
  background-color: #F0A4A4;
  text-align: center;
  padding-top: 100px;
}

.slider {
  margin: auto;
  width: 600px;
  height: 850px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500%;
  display: flex;
}

.slides input {
  display: none;
}

.slide-text {
  background-color: #F4C7BD;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: 100;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 600px;
  height: 800px;
}

.navigation-manual {
  position: absolute;
  width: 600px;
  margin-top: 750px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #F69A86;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background: #F69A86;
}

#radio1:checked ~ .first{
  margin-left:0;
}

#radio2:checked ~ .first{
  margin-left:-20%;
}

#radio3:checked ~ .first{
  margin-left:-40%;
}

#radio4:checked ~ .first{
  margin-left:-60%;
}

#radio5:checked ~ .first{
  margin-left:-80%;
}

#radio6:checked ~ .first{
  margin-left:-100%;
}

#radio7:checked ~ .first{
  margin-left:-120%;
}

#radio8:checked ~ .first{
  margin-left:-140%;
}
#radio9:checked ~ .first{
  margin-left:-160%;
}

#radio10:checked ~ .first{
  margin-left:-180%;
}

#radio11:checked ~ .first{
  margin-left:-200%;
}

#radio12:checked ~ .first{
  margin-left:-220%;
}

#radio13:checked ~ .first{
  margin-left:-240%;
}

#radio14:checked ~ .first{
  margin-left:-260%;
}

/* css for automatic nav */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 600px;
  justify-content: center;
  margin-top: 750px;
}

.navigation-auto div {
  border: 2px solid #F69A86;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #F69A86
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #F69A86
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #F69A86
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #F69A86
}

#radio5:checked ~ .navigation-auto .auto-btn5{
  background: #F69A86
}

#radio6:checked ~ .navigation-auto .auto-btn6{
  background: #F69A86
}

#radio7:checked ~ .navigation-auto .auto-btn7{
  background: #F69A86
}

#radio8:checked ~ .navigation-auto .auto-btn8{
  background: #F69A86
}

#radio9:checked ~ .navigation-auto .auto-btn9{
  background: #F69A86
}

#radio10:checked ~ .navigation-auto .auto-btn10{
  background: #F69A86
}

#radio11:checked ~ .navigation-auto .auto-btn11{
  background: #F69A86
}

#radio12:checked ~ .navigation-auto .auto-btn12{
  background: #F69A86
}

#radio13:checked ~ .navigation-auto .auto-btn13{
  background: #F69A86
}

#radio14:checked ~ .navigation-auto .auto-btn14{
  background: #F69A86
}