body {
  background-color: papayawhip;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.navbar {
  background-color: white;
  overflow: hidden;
  margin-top: 0;
  border-style: none none solid none;
  height: 60px;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: right;

}

.main {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
}

.intro {
  padding-top: 150px;
  padding-right: 20px;
  padding-left: 50px;
  width: 1000px;
  height: 500px;
}

.image img{
  float: right;
  border-radius: 38px;
  position: absolute;
  top: 150px;
  left: 850px;
  z-index: 100;
}

.image-white {
  position: absolute;
      width: 300px;
      height: 452px;
      left: 810px;
      top: 110px;
      background: #FFFFFF;
      border-radius: 38px;
}

.image-black {
  position: absolute;
      width: 300px;
      height: 452px;
      left: 890px;
      top: 190px;
      background: black;
      border-radius: 38px;
}

.experience {
  border-style: solid;
}

.projects  {
  border-style: solid;
}

.about {
  border-style: solid;
}

.fun {
  border-style: solid;
}
