body {
  background-color: papayawhip;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.navbar {
  background-color: white;
  overflow: hidden;
  margin-top: 0;
  border-style: none none solid none;
  height: 60px;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: right;

}

.main {
  display: flex;
  flex-direction: row;
  padding-left: 75px;
  padding-right: 75px;
}

.intro {
  padding-top: 50px;
  padding-right: 20px;
  width: 1000px;
}

.image {
  float: right;
}

.experience {
  border-style: solid;
}

.projects  {
  border-style: solid;
}

.about {
  border-style: solid;
}

.fun {
  border-style: solid;
}
